.Who{
color: #500091;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Build{
    text-decoration: none;
}
.Whobody{
    color: #5c5a5a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Bit{
   color: #ffffff;
   background-color: #500091;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.head{
    color: #500091;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.values{
    color: #5c5a5a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forms{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5c5a5a;
    font-size: larger;
}

.track{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.tracks{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #666666;
}

.headeri{
color: #500091;
}

.headerii{
color: #500091;

}

.headeriii{
color: #500091;
}

.services{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5c5a5a;
}

.Brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.website{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #500091;
}

.webs{
    size-adjust: initial;
}

.brands{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #500091;
}

.portfolio{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}